.firstpara{
    font-family: 'Salesforce Sans', Arial, sans-serif;
    color:#00FFFF;
}
.secondpara{
    font-family: 'Salesforce Sans', Arial, sans-serif;
    color:red;
}
.thirdpara{
    font-family: 'Salesforce Sans', Arial, sans-serif;
    color:green;
}